<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="DontCache" varyByQueryString="*" />
            </profiles>
        </caching>
		<defaultDocument enabled="true">
            <files>
                <clear />
				<add value="index.html" />
				<!--<add value="error.html" />-->               
			</files>
        </defaultDocument>
    </system.webServer>
</configuration>
